<ion-view title="Overview" id="page4">
  <ion-content padding="true" style="background: url(img/IXwpVCQRtKSgKPzB8GRw_workahbee.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="overview-form3" class="list">
      <label class="item item-input" id="overview-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
    </form>
    <ion-list id="overview-list7">
      <ion-item id="overview-list-item11" ui-sref="calorieTracker()">Calorie Tracker</ion-item>
      <ion-item id="overview-list-item12">Heart Rate Tracker</ion-item>
      <ion-item id="overview-list-item13">Fitness Tracker</ion-item>
      <ion-item id="overview-list-item14">My Tasks</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 75px;"></div>
    <ion-list id="overview-list5">
      <ion-item class="item-avatar" id="overview-list-item6">
        <h2>Signed in as...</h2>
        <p>[Your Name Here]</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>